<div class="m-5 h-screen" [ngClass]="{ 'h-screen': dimention < 5 }">
  <div class="mt-7 mb-7 flex justify-content-end">
    <p-button
      icon="pi pi-arrow-left"
      label="Volver"
      severity="warning"
      routerLink="/dashboard"
    ></p-button>
  </div>
  <div *ngIf="dimention <= 0">
    <h1 class="text-orange-500">No tienes tareas asignadas</h1>
    <div
      class="bg-cover bg-center border-primary-500 border-round h-30rem"
      style="background-image: url('assets/image/loginBack.jpg')"
    ></div>
  </div>

  <p-dataView #dv [value]="task" *ngIf="dimention > 0">
    <ng-template pTemplate="list" let-task>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of task; let first = first">
          <div
            class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
            [ngClass]="{ 'border-top-1 surface-border': !first }"
          >
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">
                  {{ item.title }}
                </div>
                <p>{{ item.description }}</p>
                <div>
                  <p-tag
                    *ngFor="let tag of item.tags"
                    [value]="tag.name"
                    severity="success"
                    class="mr-1"
                  ></p-tag>
                  <p-tag
                    *ngIf="item.status"
                    [value]="item.status"
                    severity="info"
                    class="mr-1"
                  ></p-tag>
                </div>

                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold"
                      >Creado:
                      {{
                        item.createdAt
                          | date : "fullDate" : "" : "es"
                          | titlecase
                      }}</span
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="mt-7 flex justify-content-end">
              <p-button
                label="Detalles"
                severity="warning"
                routerLink="edit/mytaskEdit/{{ item._id }}"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
