<div class="mt-7 mr-1 flex justify-content-end">
  <p-button
    icon="pi pi-arrow-left"
    label="Volver"
    severity="warning"
    routerLink="/dashboard"
  ></p-button>
</div>
<form
  autocomplete="true"
  [formGroup]="editTaskForm"
  (ngSubmit)="postAndConfirmation()"
>
  <div
    class="grid flex-column justify-content-center align-items-center surface-100 h-screen"
  >
    <div>
      <h2 class="text-orange-500">Editar tarea</h2>
    </div>
    <div>
      <div class="field">
        <label for="title">Título</label>
        <input
          formControlName="title"
          placeholder="Título"
          id="title"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="description">Descripción</label>
      </div>
      <div class="card flex justify-content-center">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          id="description"
          placeholder="Descripción"
          formControlName="description"
        ></textarea>
      </div>

      <div class="field mt-4">
        <label for="status">Estado de la tarea</label>
      </div>

      <div class="field mb-4 w-full">
        <select
          id="status"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
          formControlName="status"
        >
          <option>Seleccione un status de la tarea</option>
          <option *ngFor="let status of statusOption">{{ status.name }}</option>
        </select>
      </div>

      <div class="field mt-4">
        <label for="assignedTo">Selecciona un usuario</label>
      </div>

      <div class="field mb-4 w-full">
        <select
          id="assignedTo"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
          formControlName="assignedTo"
        >
          <option>Seleccione un usuario</option>
          <option *ngFor="let user of users" value="{{ user._id }}">
            {{ user.name }}
          </option>
        </select>
      </div>
      <div class="field mt-4">
        <label for="tags">Selecciona un tag</label>
      </div>

      <div class="field mb-4 w-full">
        <select
          id="tags"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
          formControlName="tags"
        >
          <option>Seleccione un tag</option>
          <option *ngFor="let tag of tags" value="{{ tag._id }}">
            {{ tag.name }}
          </option>
        </select>
      </div>
    </div>
    <div>
      <p-button type="submit" severity="warning" class="mr-4">Enviar</p-button>
      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
      <p-button
        (click)="confirm($event)"
        icon="pi pi-times"
        label="Delete"
        severity="danger"
        type="button"
      ></p-button>
    </div>

    <div class="text-orange-500 mt-1 text-center">
      <p *ngIf="validField('title')">El titulo es obligatorio</p>
      <p *ngIf="validField('description')">La descripción es obligatorio</p>
    </div>
  </div>
</form>
